@{
    ViewBag.Title = "About the application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The following information consists from: 
    Name of the movie, Price of the movie, Genre type of the movie and the director of the movie</p>
